.pricingContent>form{
    width: 70%;
    margin: auto;
}
.pricingContent>form>label{
    width: 100%;
    text-align: justify;
}
.pricingContent>form>textarea{
    width: 100%;
    height: 150px;
}
.authors{
    width: 97%;
    margin-left: 1%;
    padding-left: 2%;
    text-align: justify;
}
 
/* form permissings */
.contentsPermissing>form{
    width: 98%;
    padding-left: 2%;
    display: flex;
    margin-left: 1%;
}
.contentsPermissing>form>.inputs{
    width: 89%;
}
.contentsPermissing>form>.inputs>input{
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #000;
    padding: 10px;
}
.contentsPermissing>form>button{
    width: 10%;
    height: 46px;
    border: none;
    outline: none;
    color: white;
    background-color: #000;
    font-weight: 800;
}
.contentsPermissing>.messages,.congratulation{
    padding: 10px;
    text-align: justify;
    background-color: darkorange;
    color: #000;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
.congratulation{
    background-color: deepskyblue;
    color: white;
}
.savePermission{
    margin-top: 20px;
    padding: 10px 35px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: 700;
    border-radius: 3px;
}
 