.settings{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.contentSettings{
    margin-top: 150px;
    height: 100vh;
    width: 60%;
    margin: auto;
}
.contentSettings>section{
    width: 100%;
    height: 100%;
    margin-top: 60px;
    box-shadow: 1px 4px 5px 8px  rgb(220, 220, 246);
}
.pricingContent>.topSettings{
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #000;
}
.pricingContent>.topSettings>.removeCourse,.DeleteCourse{
    display: flex;
    height: 50%;
}
.btnSetting{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.btnSetting>button{
    border: none;
    outline: none;
    border: 1px solid black;
    padding: 10px 25px;
    font-weight: 700;
}
.messageBtn{
    width: 70%;
    text-align: justify;
}

.middleSettings{
    height: auto;
}
.middleSettings_hop{
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 5px;
}
.level,.visibilities{
    width: 50%;
    height: auto;
}
.level>select,.visibilities>select{
    width: 60%;
    padding: 7px;
    margin-top: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
    margin-bottom: 5px;
}
.messageVisibility{
    width: 70%;
    height: auto;
    margin: auto;
    padding: 3px;
    text-align: justify;
    font-size: 1rem;
}
.btnSettinglevel{
    background-color: black;
    color: white;
    padding: 8px 30px;
    border: none;
    outline: none;
}
.addWithOrther{
    margin-top: 20px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 18px;
}
.addWithOrther>button{
    margin-left:35%;
    margin-top: 5px;
    width: 280px;
    background-color:blueviolet;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 8px;
    color: white;
}