.conditionsformateur{
    margin-top: 30px;
}
.conditionsformateur>.text{
    width: 40%;
    margin: auto;
    text-align: justify;
}
.marketinetpromo>.marketing{
    width: 45%;
    margin: auto;
    text-align: justify; 
}
.marketinetpromo{
    margin-top: 18px;
}
 