.personaleinfosForm{
}
.personaleinfosForm>form{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.personaleinfosForm>form>div{
    width: 100%;
    text-align: justify;
}
.form_top>input{
    width: 49%;
    margin: 3px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #000;
}
.personaleinfosForm>form>input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #000;
}
.personaleinfosForm>form>button{
    padding: 10px;
    font-weight: 700;
}
.Biographie{
    margin-top: 20px;
}
.Biographie>form{
    width: 50%;
    margin: auto;
}
.Biographie>form>label,.mssg{
    width: 100%;
    text-align: justify;
}
.text-danger{
    width: 100%;
    color: red;
}
 