.headerpremium{
    display: flex;
    height: 80px;
    border-bottom: 1px solid grey;
    margin-bottom: 18px;
}
.headerpremium_title{
    width: 20%;
    font-weight: 900;
    font-size: 1.4rem;
    font-size-adjust: 100px;
    font-optical-sizing: 200px;
    padding: 15px 5px;
}
.headerpremium_label{
    width: 80%;
    font-weight: 900;
    font-size: 1.4rem;
    padding: 15px 5px;
}
.premiums_nav>button{
    border: none;
    outline: none;
    margin-right: 10px;
    background-color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 5px;
}
.premiums_nav>button.activeLink{
border-bottom: 3px solid #000;
}