.experience_form_end{
    padding-top: 120px;
}
 
.experience_form_end>form{
    width: 35%;
    margin-left: 520px;
}
.experience_form_end>form>.left, .experience_form_end>form>.right{
    width: 100%;
    margin-right: 10px;
}
.btn_continue_end{
    width: 290px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: black;
} 
