.experience_content{
    width: 100%;
    height: 100vh;
    /* padding-top: 190px; */
    background-color: rgba(229, 231, 233 , 1);
}
.experience_content>#topp{
    background-color: rgba(229, 231, 233 , 1);
    border-bottom: 1px solid black;  
    height: 50px;
}
.experience_content>.experience_form{
    background-color: inherit;
    width: 60%;
    margin-left:120px;
    text-align: justify;
}
.btn_continue{
    width: 120px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: black;
}
.btn_back{
    width: 120px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: chocolate; 
}
.header_step{
    /* font-size: 1.4rem;
    padding-left: 200px; */
    width: 420px;
}
.header_title_instructor{
    font-size: 1.5rem;
    font-weight: bold;
    width: 420px;
    margin-left: -300px;
}

#header_text{
    padding-top: 55px;
    margin-bottom: 20px;
    text-align: justify;
    padding-left: 100px;
}