 
.nav_right_dashboard{
    float: right;
    width: 25%;
    list-style-type: none;
    padding-top: 18px;
}
.nav_right_dashboard>img{
    width: 40px;
    object-fit: contain;
    border-radius: 120px;
}
.participatLink,.participatLink:hover{
    float: right;
    padding: 5px 5px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.nav_right_dashboard>button{
   color: white;
   border: none;
   outline: none;
   background-color: inherit;
   font-weight: 600;
}