.experience_form_infos{
    padding-top: 120px;
}
.experience_form_infos>form{
    width: 50%;
    margin-left: 420px;
    display: flex;
}
.experience_form_infos>form>.left, .experience_form_infos>form>.right{
    width: 50%;
    margin-right: 10px;
}
.btn_continue_info{
    width: 120px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: black;
} 
