.dashboard_have_all_courses{
    padding-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    height: 90px;
    margin-left: 120px;
    display: flex;
    /* justify-content: space-between; */
}
.courseLastCourse{
    width: 60%;
}
.courseLastCourse>.mssgs{
    width: 100%;
    text-align: center;
}
.courseLastCourse>.coursContent{
    display: flex;
    width: 100%;
}
.courseLastCourse>.coursContent>.imgs>img{
    width: 100px;
    height: 90px;
}
.courseLastCourse>.coursContent>.titleCourse{
    padding: 3% 2%;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: justify;
    width: 100%;
    height: 50px;
    z-index: 1;
}
#showmodification{
    background-color: beige;
    width: 100%;
    margin-top: -0px;
    margin-left: -740px;
    height: 90px;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#showmodification>.showModificationLinks{
    text-decoration: none;
    color: blueviolet;
    font-weight: 800;
    font-size: 1.2rem;
}
.dashboard_have_all_courses>.courses_left_count{
    width: 40%;
    background-color: brown;
}
.dashboard_have_all_courses>.courses_right_count{
    width: 40%;
    background-color: rgb(163, 165, 42);
}
.dashbordinstructor{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 10000;
}
/* header dashboard */
.avatar-teacher{
    width: 40px;
    height: 40px;
    border-radius: 200px;
    margin-top: -10px;
}
 
/* header bottom*/
.headerdash-bottom>nav>.container-fluid>.collapse>ul>li>.nav-link{
    font-weight: bold;
}
 .main-nav{
     color: white;
     border-bottom: 3px solid red;
 }
 .main-nav:active{
     color: white;
 }

 /********************************************************************/
 /*                          BLOCK COURSES                          */
 /******************************************************************/
 .courses{
     /* background-color: teal; */
     width: 100%;
     height: 82vh;
     overflow-y: scroll;
     overflow-x: hidden;
     padding-top: 18px;
   padding-left: 80px;
 }
 .courseBtn{
      margin-bottom: 22px;
     height: 160px;
     width: 96%;
     display: flex;
     justify-content: space-between;
 }
 .courseBtnMessage,.courseBtnCreate{
     width: 50%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .btncreate{
     background-color: chocolate;
     width: 350px;
     padding: 12px;
     border: none;
     color: white;
     text-decoration: none;
     outline: none;
     border-radius: 5px;
     color: white;
 }
 .btncreate:hover{
     color: white;
 }

 /* captivant course  */
 .captivant {
    margin-bottom: 22px;
    height: 290px;
    width: 96%;
    display: flex;
    justify-content: space-between;
 }
 .captivantImage{
    width: 45%;
    height: 100%;
 }
 .captivant-message{
     width: 55%;
     height: 260px;
     border: none;
     outline: none;
 }
 .captivant-message>.card-header{
     text-align: justify;
     padding: 12px;
     font-weight: 700;
     font-size: 1.2rem;
     background-color: #fff;
     border: none;
     outline: none;
 }
 .captivant-message>.clard-body{
     width: 70%;
     text-align: justify;
     margin-top: 12px;
     padding-bottom: 18px;
     padding-left: 10px;
 }
 .captivantImage>img{
     width: 80%;
     height: 50%;
 }
 .captivant-message>.card-footer{
     background-color: #fff;
     border: none;
     color: blue;
     text-align: justify;
 }

 /* create video and people developper profile  */
 .moviessessionandpublic{
    margin-bottom: 22px;
    height: 290px;
    width: 96%;
    display: flex;
    /* justify-content:center; */
 }
 .moviesessions{
     width: 50%;
     height: 100%;
     display: flex;
     margin-right: 3px;
     border: 1px solid grey;
 }
 .moviesession-img{
     width: 45%;
 
 }
 .moviesession-img>img{
     width: 100%;
     height: 90%;
     padding-top: 3px;
 }
 .moviesession-msg{width: 55%;}
.moviesession-msg>.card-header{
    font-weight: 700;
    padding:8px;
    background-color: #fff;
    text-align: justify;
    border: none;
    outline: none;

}
.moviesession-msg>.card-footer{
    background-color: #fff;
    margin-top: -1px; 
    text-align: justify; 
    color: blue;
    border: none;}
.moviesession-msg>.card-body{text-align: justify;margin-top: 12px;width: 90%;}
.moviessessionandpublic>.moviesessions>.card{
    border: none;
    outline: none;
    height: 160px;
}
.moviessessionandpublic>.deveopperPublic>.card{
    border: none;
    outline: none;
}
/* deveopper public */
.deveopperPublic{
    width: 50%;
    height: 100%;
    display: flex;
    margin-right: 3px;
    border: 1px solid grey;
}
.deveopperPublic-img{
    width: 45%;

}
.deveopperPublic-img>img{
    width: 100%;
    height: 90%;
    padding-top: 3px;
}
.deveopperPublic-msg{width: 55%;}
.deveopperPublic-msg>.card-header{
   font-weight: 700;
   padding:8px;
   background-color: #fff;
   text-align: justify;
   border: none;
   outline: none;
}
.deveopperPublic-msg>.card-footer{
    background-color: #fff;
    margin-top: -20px; 
    text-align: justify; 
    border: none;
    color: blue;
    margin-bottom: 17px;
}
.deveopperPublic-msg>.card-body{text-align: justify;margin-top: 30px;width: 90%;}
.deveopperPublic>.deveopperPublic>.card{
   border: none;
   outline: none;
   height: 160px;
}
.deveopperPublic>.deveopperPublic>.card{
   border: none;
   outline: none;
}

/* ressources */
.presentation_helpcenter{
    width: 50%;
    padding: 12px;
    margin-left: 310px;
    text-align: center;
    margin-bottom: 20px;
}
.ressources{
    margin-bottom: 10px;
    height: 240px;
    width: 96%;
    display: flex; 
    justify-content: space-between;
}
.instructorcenter{
    width: 20%;
    margin-right: 5px;
}
.instructorcenter-icon{
    font-size: 1.4rem;
}
.instructorcenter-body{
    width: 100%;
    /* text-align: justify; */
}
#btn{
    width: 100%;
    /* background-color: brown; */
    margin-bottom: 30px;
    padding: 50px;
}
#btn>.btn{
    width: 300px;
    padding: 15px;
    background-color: chocolate;
    color: white;
}