.instructor_courses{
    width: 100%;
    height: 83vh;
    overflow-y: scroll;
    margin-top: 0px;
    padding-top: 15px;
 
}
.courses_container{
    display: flex;
    margin-bottom: 5px;
    margin-left: 10%;
    width: 80%;
    height: 80px;
    border: 1px solid black;
}
.courses_container>img{
    width: 100px;
    object-fit: contain;
}
.course_participants{
    width: 80%;
    text-align: justify;
    padding: 20px 15px;
    font-weight: 300;
    font-size: 20px;
}
.course_participants::first-letter{
    text-transform: uppercase;
}
.link_courseTitile{
    text-decoration: none;
    padding: 20px 10px;
}
.course_participants>span{
    float:right;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    width: auto;
}
.course_status{
    padding: 29px 10px;
    width: 150px;
}
.course_status>span::first-letter{
    text-transform: uppercase;
}
.course_status>span{
    padding: 8px;
    color: greenyellow;
    font-weight: 700;
    font-size: 13px;
}
.count_course{
    border-bottom: 1px solid #000;
    margin-top: -20px;
    padding: 5px;
    margin-bottom: 5px;
}
.course_consult{
    width: 100%;
    text-align: center;
    padding: 20px 15px;
    font-weight: 300;
    font-size: 20px; 
}
.link_courseconsult{
    color: blueviolet;
    text-decoration: none;
    font-weight: 800;
}
.link_courseconsult:hover{
    color: blueviolet;
}