.tarification_form>p{
    text-align: justify;
}
.tarification_form>form{
    width: 100%;
    text-align: justify;
}
.tarification_form>form>.formContent>select,
.tarification_form>form>.formContent>button{
    padding: 5px;
    width: 20%;
    margin-right: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
}
 