.tarificationBtn,.tarificationBtn:hover,.tarificationBtn:active{
    background-color: blueviolet;
    padding:14px;
    color: white;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
}
.headerpremium{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    border-bottom: 1px solid black;
}
.headerpremium>.headerpremium_title{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
 
.headerpremium>.headerpremium_label{
    width: 70%;
    height: 100%; 
     text-align: justify;
     padding:11px 70px ;
     font-weight: bold;
     font-size: x-large;
}
.personaleinfosForm{
    margin-top: 4%;
    height: auto;
}
.personaleinfosForm>form{
    /* padding-top: 25px; */
    width: 50%;
    margin-left: 25%;
}
.personaleinfosForm>form>.form_top{
    width: 100%;
    display: flex;
    margin-bottom: 18px;
}
.personaleinfosForm>form>.form_top>.form_top_div{
    width: 100%;
    margin-bottom: 5px;
}
.personaleinfosForm>form>.form_top>input{
    width: 49%;
    margin-right: 8px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
}
.personaleinfosForm>form>.form_top>.form_top_div>input{
    width: 98%;
    margin-right: 8px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
}
.personaleinfosForm>form>input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
    margin-bottom: 10px;
}
.personaleinfosForm>form>div{
    width: 100%;
    text-align: justify;
    font-size: 0.8rem;
    margin-top: -8px;
    margin-bottom: 12px;
}
.personaleinfosForm>form>label{
    width: 100%;
    text-align: justify;
    margin-bottom: 15px;  
}
.personaleinfosForm>form>button,
.Biographie>form>button{
    background-color: hotpink;
    padding: 12px;
    border: none;
    outline: none;
    color: white;
    border-radius:5px;
}
.personaleinfosForm>form>.back{
    background-color: black;
    padding: 12px;
    border: none;
    outline: none;
    color: white;
    border-radius:5px;
}
.premiums_nav{
    margin-top: 5%;
    height: 30px;
}
.premiums_nav>button{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 5px;
    margin-right: 20px;
    font-weight: 500;
}
.premiums_nav>button.activeLink{
    border-bottom: 5px solid black;
}

/* biographie */
.Biographie{
    width: 100%;
    padding-top: 40px;
    padding-left: 23%;
}
.Biographie>form{
    width: 70%;
}
.Biographie>form>textarea{
   border: none;
   outline: none;
   border: 1px solid black;
}
.Biographie>form>label{
    width: 100%;
    text-align: justify;
    font-size: 0.9rem;
    padding-left: 22px;
}
.Biographie>form>.mssg{
    width: 100%;
    text-align: justify; 
    padding-left: 22px;
}

/* conditons formateur */
.personaleinfosForm>.text{
    width: 40%;
    margin-left: 30%;
}
.personaleinfosForm>.text>p{
    width: 89%;
    text-align: justify;
    padding: 10px 45px;
}
/* marketing */
.personaleinfosForm>.marketing{
    width: 45%;
    margin-left: 25%;
    text-align: justify;
    margin-top: -29px;
}