.content_course{

}
.content_course>.datas{
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
}
.content_course>.accordions{
    background-color:darkgray;
    padding: 8px;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.content_course>.accordions>.accordion_name{
    width: 90%;
    text-align: justify;
    font-weight: 700;
    font-size: 1.2rem;
}
.content_course>.contentAccordions{
    height: auto;
    text-align: justify;
    margin-bottom: 8px;
    margin-top: -2px;
}
.content_course>.contentAccordions>.contentAccordions_line{
    width: 100%;
    display: flex;
}
.content_course>.contentAccordions>.contentAccordions_line>.name{
    width: 80%;
    display: flex;
    padding-left: 3px;
}
.content_course>.contentAccordions>.contentAccordions_line>.ShowLink{
    width: 10%;
    margin-right: 10px;
    text-align: center;
}
.content_course>.contentAccordions>.contentAccordions_line>.time{
    width: 10%;
    text-align: center;
    padding-right: 8px;
}