.objectifs,.objectifsContent,.decriction{
    padding: 5px 20px;
    width: 65%; 
    margin-left: 21%;
}
.objectifs,.decriction{
    border: 1px solid grey;
    margin-bottom: 10px;
}
.objectifs>.objectifsContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0%;
    text-align: justify;
    width: 100%;
    height: auto;
}
 
.objectifs>.objectifsContent>.objGrid{
    margin-bottom: 2px;
    margin-right: 5px;
    padding: 8px;
    text-align: justify;
    height: auto;
    width: 100%;
}
.objectifs>.objectifsContent>.objGrid>i{
    color: green;
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
}
.objectifs>.objtitle,.descriptionTitle{
    text-align: justify;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 5px;
}
.decriction{
    text-align: justify;
    margin-bottom:10px;
}
.read-or-hide{
    text-align: justify;
    text-combine-upright: 10px;
}
.read-or-hide>.divBtn{
    background-color: #fff;
    padding: 5px;
    margin-top: -20px;
    opacity: 0.65;
}
.read-or-hide>.divBtn>button{
   border: none;
   outline: none;
   color: brown;
   font-weight: bold;
   font-size: 1.0rem;
   opacity: 1;
}
.read-or-hide>.divBtnSecond >button{
    border: none;
    outline: none;
    color: brown;
    font-weight: bold;
    font-size: 1.0rem;
    opacity: 1;  
}
 