.recommanded{
    border: 1px solid grey;
    padding: 5px 20px;
    width: 65%; 
    margin-left: 21%;
    text-align: justify;
}
.recommanded>h6,
.recommanded>.avis>h6{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.recommanded>.recommanded_content{
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
.recommanded>.recommanded_content>.cours_img{
    width: 80px;
    height: 90px;
}
.recommanded>.recommanded_content>.cours_img>img{
    width: 100%;
    height: 100%;
}
.recommanded>.recommanded_content>.cours_infos{
    width: 100%;
    height: 80px;
}
.recommanded>.recommanded_content>.cours_infos>.top{
width: 100%;
height: 50%;
}
.recommanded>.recommanded_content>.cours_infos>.top>.name{
    width: 55%;
    font-size: 1.3rem;
}
.recommanded>.recommanded_content>.cours_infos>.top>.vote{
    width: 25%;
    font-weight: bold;
    font-size: 1rem;
    color:darkorange;
}
.recommanded>.recommanded_content>.cours_infos>.top>.vote>i{
    font-size: 0.9rem;
    color:coral;
}
.recommanded>.recommanded_content>.cours_infos>.top>.prise{
    width: 20%;
    font-weight: bold;
    font-size: 1.2rem;
}
.recommanded>.recommanded_content>.cours_infos>.top>.prise>.actual{
    width: 100%;
    font-weight:bold;
    font-size: 1.1rem;
}
.recommanded>.recommanded_content>.cours_infos>.top>.prise>.revolt{
    width: 100%;
    font-weight:bold;
    font-size: 1rem;
    text-align: center;
    color: lightslategrey;
}
.recommanded>.recommanded_content>.cours_infos>.bottom{
    justify-content: space-between;
    padding: 12px 5px;
}
.recommanded>.recommanded_content>.cours_infos>.bottom>.hourse{
    padding-left: 10px;
    font-weight: bold;
    color: cornflowerblue;
}
.recommanded>.recommanded_content>.cours_infos>.bottom>.favorite>button{
   border: none;
   outline: none;
   color: darkred;
   font-weight: 800;
}

/* avis */
.recommanded>.avis{
    margin-bottom: 30px;
}
.recommanded>.avis>.avis_top{
    display: flex;
    height: 83px;
}
.recommanded>.avis>.avis_top>.auteur_image{
    width: 90px;
    height: 90px; 
    margin-right: 2px;
}
.recommanded>.avis>.avis_top>.auteur_image>img{
    width: 90%;
    height: 90%;
    border-radius: 150%;
}
.recommanded>.avis>.avis_top>.auteur_datas{
    width: 100%;
}
.recommanded>.avis>.avis_top>.auteur_datas>.nameShow{
    height: 25px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 5px 5px;
}
.recommanded>.avis>.avis_top>.auteur_datas>.nberCours{
    height: 25px;
    padding: 5px 5px;
}
.recommanded>.avis>.avis_bottom{
     text-align: justify;
}
.recommanded>.avis>.moreAvis{
    text-align: center;   
}
.recommanded>.avis>.moreAvis>button{
    border: none;
    outline: none;
    color: brown;
    font-weight: bold;
    width: 100%;
}
/* oeuvres */
 
 .recommanded>.oeuvres{
     background-color: chocolate;
 }
 .recommanded>.oeuvres>h6{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px;
 }
 .recommanded>.oeuvres>.oeuvres_content{
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
 }