.showHome{overflow-y: scroll;
    height: 100vh;
}

/* BANNER */
.showBanner{
    width: 100%;
    height: 350px;
    background-color: black;
    margin-bottom: 10px;
}
.showBanner>header{
    width: inherit;
    height: 60px;
    display: flex;
    border-bottom: 2px solid #f00;
    color: white;
}
.showBanner>header>.section1{
    width: 10%;
}
.showBanner>header>.section2{
    width: 70%;
    text-align: justify;
    padding: 7px 2%;
    font-weight: bold;
    font-size: 1.6rem;
}
.showBanner>header>.section3{
    width: 20%;
    padding-top: 10px;
}
.showBanner>header>.section3>button{
    width: 90%;
    padding:5px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: bold;
}
.content_show_banner{
    color: white;
    width: 100%;
    height: 83%;
    display: flex;
}
.content_show_banner>.content_show_datas{
    width: 45%;
    height: 100%;
    padding-left: 10%;
}
.content_show_banner>.content_show_datas>.des{
    font-weight: 700;
}
.content_show_banner>.content_show_datas>.des,
.content_show_banner>.content_show_datas>.authors{
    width: 100%;
    height:auto;
    text-align: justify;
    margin-bottom: 2px;
}
.content_show_banner>.content_show_datas>.authors{
    color: thistle;
    font-weight: bold;
}
.content_show_banner>.content_show_movie{
    width: 30%;

}
.playzone{
    background-color: burlywood;
    height: 100%;
    /* margin-top: 02px; */
}
.playzone>.playBtn{
    background-color: rgba(0, 0, 0, 0.57);
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}
.playzone>.playBtn>i{
    /* background-color:none; */
    border: none;
    outline: none;
    font-size: 3.2rem;
}
.contentAll{
    height: auto; 
    display: flex;
}
.contentAll>.centralContent{
    width: 60%;
    
}
 .rightContent{
    width: 38%;
}
.showPrise{
    background-color: #fff;
    width: 20%;
    margin-top: 25px;
    margin-left: 10px;
    padding-top: 20px;
}
.showPrise>.prise{
    color: black;
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.showPrise>.prise>.redux{
    width: 100%;
    font-weight: normal;
    font-size: 1rem;
    text-align: justify;
    padding-left: 20px;
}
.showPrise>.prise>.message_redux{
    width: 100%;
    font-weight: normal;
    font-size: 1rem;
    text-align: justify;
    padding-left: 20px;
    color: red;
    font-style: italic;
}
.showPrise>.prise>strike{
    color:darkgray;
    margin-left: 15px;
    font-weight: 500;
    font-size: 1.1rem;
}
.showPrise>#bye,#addbasket,#addfavorite{
    width: 80%;
    border: none;
    outline: none;
    padding: 5px;
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 6px;
    margin-bottom: 5px;
}
.showPrise>#addbasket{
    color: black;
    background-color: rgb(238, 9, 9); 
}
.showPrise>#addfavorite{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.showPrise>.endShow>button{
border: none;
outline: none;
margin-right: 20px;
text-decoration: underline;
color: blue;
font-weight: bold;
}
.bord{
    width: 100%;
    text-align: justify;
}
.bord>.bord_content{
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: justify;
}