.register_content{
    width: 100%;
    height: 100vh;
    background-color: rgba(229, 231, 233 , 1);
    position: fixed;
    top: 0;
     display: flex;
}
.register_content>.message{
    display: flex;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_content>.message>.message_content{
    margin-top: -280px;
    width: 60%;
    height: 50px;
    text-align: justify;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: justify;
}
.register_content>.form_register{
    width: 30%;
    /* padding: 10px; */
    padding-top: 150px;
}
.register_content>.form_register>form{
    width: 75%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}
#errors{
    color: red;
    font-size: 0.9rem;
    height: auto;
    text-align: justify;
}
#avatar{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
#avatars{
    width: 85px;
    height: 85px;
    border-radius: 100%; 
}