.SideBarManagement{
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.SideBarManagement_list{
    width: 65%;
    margin-left: 31%;
    text-align: justify;
}
.SideBarManagement_list>.list{
    margin-bottom: 8px;
}
.SideBarManagement_list>.list>i{
     margin-right: 8px;
     font-weight: 400;
   font-size: 1.1rem;
   color: black;
}
.SideBarManagement_list>.list>.list_link{
   font-weight: 400;
   font-size: 1.1rem;
   text-decoration: none;
   color: black;
}
.management_navss{
    padding: 5px;
    border-bottom: 4px solid rgb(0, 0, 0);
}