.dropdown{
    width: 250px;
    height: auto;
    margin-left: 299px;
    margin-top: -8px;
    border: 1px solid #000;
}
.dropdown>.profilView>.avatar{
    width: 100%;
    height: 110px;
    font-size: 0.8rem;
}
.dropdown>.profilView>.avatar>img{
    width: 110px;
    height: 110px;
    border-radius: 150px;
}
.dropdown>.profilView>.nameandemail>.nameuser{
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
}
.dropdown>.profilView>.nameandemail>.nameuser::first-letter{
    text-transform: uppercase;
}
.dropdown>.profilView>.nameandemail>.emailuser{
    width: 100%;
    color: grey;
    font-size: 0.9rem;
} 
.profilView{
    border-bottom: 1px solid #000;
    /* margin-bottom: 20px; */
}
.preferences{
    text-align: justify;
    color: #000;
    border-bottom: 1px solid #000;
}
.preferences>.links{
    color: #000;
    margin-top: -5px;
    word-spacing: normal;
}
.preferences>button{
    border: none;
    outline: none;
    background-color: inherit;
    padding: 4px 17px;
}
 