.header{
    width: 100%;
    height: 55px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 1px solid gray;
}
.header>.header_title{
    width: 15%;
    /* background-color: navy; */
    padding: 13px 20px;
}
.header>.header_browser{
   color: black;
   width: 17%;
   background-color: orangered;
}
.header>.header_search{
    background-color: white;
    width: 30%;
}
.header>.navbarpanel{
    width: 38%;
    height: 100%;
}
#nav{
    text-align: justify;
}
#nav>ul{
    list-style-type: none;
}
#nav>ul>li{
    display: inline-block;
    padding-left: -20px;
}
#nav>ul>li>.nav-link{
font-size: 1.1rem;
}
