.saison_content{
    height: auto;
text-align: right;
}
.saison_content>form{
border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    /* text-align: justify; */
}
.saison_content>form>label{
    font-weight: 600;
    font-size: 1.2rem;
}
.saison_content>form>input{

    width: 80%;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.saison_content>form>button{
    margin-left: 10%;
}
.saison_content>button{
    border: none;
    outline: none;
    background-color: #fff;
    color: black;
    margin-right: 2%;
}


/* program */
.listSession{
    width: 99%;
    height: 30px;
}
#partiename{
    height: 20px;
    margin-right: 20px;
    font-size: 1.1rem;
}
#partiename,#partieadmin{
    width: auto;
    cursor: pointer;
}
#partieadmin>span{
    cursor: pointer;
    margin-right: 20px;
    font-size: 0.8rem;
}
 
.showHide>.linkbutton>button{
    border: none;
    outline: none;
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;
}
.listSession_content{
    display: flex;
    height: 100%;
}
.listSession>.listSession_content>.plussession>.btns{
    width: 50px;
    padding: 10px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #fff;
}
.namesession{
    width: 80%;
    height: 100%;
    text-align: justify;
    padding: 10px;
}
.listSession>.listSession_content>.plussession{
    width: 30%;
    height: 100%;
    padding: flex;
    /* display: none; */
    /* justify-content: space-between; */
    /* background-color: darkblue; */
}
.btnVisible{
    width: 50px;
    height: auto;
    border: none;
    outline: none;
    background-color: #fff;
    font-weight: 800;
    font-size: 1rem;
    text-align: right;
    /* margin-left: 130px; */
    padding-right: 15px;
    padding-top: 6px;
}

/*********************/
/*     showHide     */
/*******************/
.showHide{
    border:1px solid red;
    width: 80%;
    height: auto;
    margin-top: 1px;
    margin-left: 10%;
    padding:8px;
}
.linkbutton{
    padding: 15px;
    margin-bottom: 0px;
    z-index: 1;
}
.linkbutton>a{
    margin-right: 20px;
}
 
/****************************/
/*        externe datas    */
/**************************/
.externeData{
    width: 100%;
    height: auto;

}
.externeData>form>div>.label{
    width: 100%;
    text-align: justify;
}
.externeData>form>div>input{
    padding: 12px;
}
