.showContentSession{
    width: 100%;
    height: 100vh;
}
.showContentSession>.header{
display: flex;
height: 70px;
border-bottom: 1px solid #000;
}
.showContentSession>.header>.header_left{
    width: 70%;
    height: 100%;
}
.showContentSession>.header>.header_left>.p1{
    width: 100%;
    height: 50%;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 1px 20px;
    margin-top: -6px;
}
.showContentSession>.header>.header_left>.title{
    width: 100%;
    height: 50%;
    text-align: center;
    font-weight: 800;
    font-size: 1.3rem;
}
.showContentSession>.header>.header_left>.p1>span>i{
    margin-top: 14px;
    margin-right: 15px;
}
.showContentSession>.header>.header_left>.p1>.lastSpan{
    margin-top: 8px;
}
.showContentSession>.header>.header_right{
    width: 30%;
    height: 100%;
    text-align: justify;
    padding: 15px 55px;
}
.showContentSession>.operations{
    padding-top: 70px;
}
.showContentSession>.operations>.indication{
   height: auto;
    display: flex;
    padding: 5px 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
}
.showContentSession>.operations>.indication>.text{
    width: 70%;
    text-align: justify;
    padding-left: 10%;
    border-right: 1px solid black;
}
.showContentSession>form{
    width: 40%;
    margin-left: 29%;
}
.showContentSession>form>label{
    width: 100%;
text-align: justify;
}
.showContentSession>form>#textarea{
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border: 1px solid black;
    margin-bottom: 50px;
}

.showContentSession>.footer{
    position: fixed;
    bottom: 0;
    background-color: darkgray;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.showContentSession>.footer>button{
    /* width: 100px; */
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: darkgoldenrod;
    border-radius: 5px;
    font-weight: 800;
    height: 70%;
    margin-top: 5px;
}
.showContentSession>table{
    width: 80%;
    margin-left: 10%;
}
 