.externeDataPartie{
    margin-top: -20px;
}
.externeDataPartie>form>div>input{
    width: 100%;
    padding: 8px;
    /* margin-bottom: 2px; */
}
.externeDataPartie>form>div>label{
text-align: justify;
width: 100%;
margin-top: -30px;
}
.externeDataPartie>form>.duplicate>.inputs{
    width:100% ;
}
.externeDataPartie>form>.duplicate>.inputs>label{
    width: 100%;
    text-align: justify;
}
.externeDataPartie>form>.duplicate>.inputs>input{
    width: 100%;
    text-align: justify;
    padding: 8px;
    margin-top: -20px;
}
.externeDataPartie>form>.duplicate>.inputBtn{
    width: 20%;
}
.externeDataPartie>form>.duplicate>.inputBtn>button{
    width: 100%;
    margin-top: 23px;
    padding: 8px;
    border: none;
    background-color: lightcoral;
    font-weight: 600;
    margin-left: 1%;
    color: white;
}