
/****************************/
/* resources from contents */
/**************************/
.ressourcesForm{
    border:1px solid black;
    margin-bottom: 5px;
    width: 72%;
    margin-left: 16%;
    padding: 8px;

}
 
.ressources_nav{
    margin-top: 1%;
    margin-bottom: 25px;
    height: 30px;
}
.ressources_nav>button{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 5px;
    margin-right: 20px;
    font-weight: 500;
}
.ressources_nav>.ressNavLink{
    border-bottom: 5px solid black;
}
  