.evaluationContent{
    width: 100%;
    height: 100vh;
}
.evaluation_header{
    width: 60%;
    height: 70px;
    margin: auto;
    text-align: justify;
    padding: 18px 1px;
    font-weight: 800;
    font-size: 1.2rem;
}
.evaluation_header::first-letter{
    text-transform: capitalize;
}
.evaluation_main{
    width: 60%;
    margin: auto;
    height: 35vh;
    text-align: justify;
}
.evaluation_main::first-letter{
    text-transform: capitalize;
}
.evaluation_bottom{
    width: 60%;
    margin: auto;  
}
#sendSoumission{
    border: none;
    outline: none;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 600;
}
#revoqueSoumission{
    margin-right: 12px;
    background-color: white;
    border: 1px solid blueviolet;
    outline: blueviolet;
    color: black;
    padding: 8px;
    font-weight: 600;
}