.settingsPanel>nav{
    height: 100%;
    width: 100%;
}
.settingsPanel>nav>ul{
    list-style-type: none;
    text-align: right;
}
.settingsPanel>nav>ul>li{
    display: inline-block;
    margin: -1px 20px;
}
.settingsPanel>nav>ul>.dropdown>#plus{
    background-color: rgb(253, 248, 245);
    width: 90px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 4px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
}
.dropdown{
    width: 70px;
}
.dropdown>.dropdown-menu>li>.dropdown-item{
    background-color: white;
    color: black;
}