.headertopsidebar>nav>ul{
list-style-type: none;
}
.headertopsidebar>nav>ul>li{
    display: inline-block;
   margin-right: 20px; 
}
.headertopsidebar>nav>ul>li>.nav{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
}
.management_navs{
    border-bottom: 3px solid #f00;
    margin-top: -20px;
}