.allcontent{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    z-index: 100;
}
.contentObjectifs{
    margin-top: 15px;
    padding-left: 3%;
}
.allcontent>.contentheader{
    height: 86px;
    z-index: 1;
}
.allcontent>.contentheader>.one{
    height: 50%;
    margin-bottom: 10px;
}
.allcontent>.contentheader>.two{
    height: 36%;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}
.allcontent>.contentbottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: brown;
}
.allcontent>.contentboddy{
    height: 591px;
    overflow-y: scroll;
    display: flex;
}
.allcontent>.contentboddy>.contentboddy_sidebar{
   height: 100%;
   width: 20%;
   background-color: blueviolet;
}
.allcontent>.contentboddy>.contentboddy_content{
    height: 100%;
    width: 80%;
    padding-left: 16px;
    margin-right: 20px;
    display: flex;
 }
 .allcontent>.contentboddy>.contentboddy_content>.card{
    height: 100%;
    width: 80%;
 }
 .allcontent>.contentboddy>.contentboddy_content>.card>.card-header{
   text-align: justify;
   font-weight: 800;
   font-size: 1.4rem;
   padding:12px
 }
 .showobjectif{
     width: 90%;
     margin-bottom: 5px;
     padding: 11px;
     text-align: justify;
     border: none;
     outline: none;
     border: 1px solid black;
     cursor: pointer;
 }
 .administrators{
    width: 8%;
    padding: 10px 5px;
    height: 48px;
    text-align: justify;
    border: none;
    outline: none;
    border: 1px solid black;
 }
 .administrators>button{
     border: none;
     outline: none;
     background-color: #fff;
     font-size: 1rem;
 }
 .titleH5{
     font-weight: bold;
     font-size: 1.1rem;
     text-align: justify;
     padding-left: 2%;
     margin-bottom: 15px;
 }
 .texteH5{
    text-align: justify;
     padding-left: 1%; 
     width: 90%;
 }
 .paragraph{
     margin-top: 15px;
     width: 90%;
     padding: 10px 10px;
     margin-left: 5%;
     font-size: 1.1rem;
 }