.seances{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: justify;
}
.seances>.element{
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid grey;
}
.seances>.element>.name_element{
    width: 85%;
    height: 100%;
}
.seances>.element>.name_element>span{
    margin-right: 10px;
}
.seances>.element>.panelConfig{
    width: 15%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.seances>.element>.panelConfig>button{
    border: none;
    outline: none;
    background-color: #fff;
}
.messageSeance{
    width: 100%;
    text-align: center;
    padding: 30px;
}
.messageSeance>img{
    width: 220px;
}
.messageSeance>p{
    font-weight: lighter;
    font-size: larger;
}
#textarea{
    width: 100%;
    height: 180px;
}