.todos{
    padding: 70px;
    width: 90%;
    height: 100vh;
    margin: auto;
}
.todos>.todos_header>.todos_title{
    display: flex;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid grey;
}
.todos>.todos_header>.todos_title>p{
    height: 100%;
}
.todos>.todos_header>.todos_title>.title{
    width: 80%;
    text-align: justify;
    font-weight: bold;
    font-size: 1.4rem;
}
.todos>.todos_header>.todos_title>.link{
    width: 20%;
    padding: 5px 5px;
    font-weight: bold;

}
/* todos nav */
.todos>.todos_nav{
    height: 40px;
    /* padding: 3px; */
    text-align: justify;
    border-bottom: 1px solid grey;
}
/* todos serach */
.todos>.todos_search{
    border-bottom: 1px solid black;
    height: 75px; 
    padding: 16px 15px;
    background-color: cadetblue;
    opacity: 0.55;
    color: black;
    font-weight: 500;
}
.todos_nav_link{
    height: 100%;
}
.todos_nav_link>button{
    border: none;
    outline: none;
    margin-right: 20px;
    background-color: #fff;
    color: black;
    height: 100%;
}
.todos_nav_link>button.activeLink{
    border-bottom: 3px solid #00f;
}