.PricingHome{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.headerPricing{
    width: 99%;
    height: 45px;
    position: fixed;
    top: 0;
    background-color: midnightblue;
    color: white;
    display: flex;
}
.linkAllCourse{
    width: 20%;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 1.2rem;
}
.settingsPanel{
    width: 26%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    text-align: justify;
    padding: 6px;
}
.settingsPanel>button{
    padding: 2px 5px;
    height: 30px;
    font-weight: bold;
    margin-right: 8%;  
}
.navLink,.navLink:hover{
    color: white;
    text-decoration: none;
}
.btnNav{
    background-color: tomato;
    padding: 3px 5px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 8%;
}
.contentTitle{
    width: 54%;
    text-align: justify;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 1.2rem;
}
.contentTitle>span::first-letter{
    text-transform: uppercase;
}
.contentPricing{
    padding: 62px;
}
.contentPricing{
    width: 100%;
    background-color: white;
    display: inline-flex;
}
.pricingSidebar{
    width: 30%;
    height: auto;
    margin-right: 3px;
}
.contentSection{
    width: 70%;
    height: 98vh;
    box-shadow: 1px 4px 5px 8px  rgb(220, 220, 246);
}
.pricingHeader{
    width: 100%;
    height: 80px;
    padding: 25px 20px;
    text-align: justify;
    font-weight: 700;
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
}
.pricingContent>p{
    text-align: justify;
    font-size: 1rem;
    width: 90%;
    padding-left: 2%;
    margin-bottom: 40px;
}
.Ifuserpremium{
    width: 100%;
    height: auto;
}
.Ifuserpremium_message>p{
    width: 65%;
    text-align: justify;
    margin: auto;
    margin-bottom: 50px;
}
.Ifuserpremium_form>form>select,
.Ifuserpremium_form>form>button{
    width: 180px;
    margin-right: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #000;
}