.audio_content{
    border: 1px solid black;
    width: 100%;
    /* margin-left: 16%; */
}
.audio_content>.audio_content_header>.btnClose{
    position: absolute;
    top: 25%;
    right: 05%;
}
.audio_content>.audio_content_header>.btnClose>button{
    border: none;
    outline: none;
    background-color: #fff;
    color: blueviolet;
}
.audio_content>.audio_content_header{
    width: 100%;
    border-bottom: 1px solid grey;text-align: justify;
    padding-left: 30px;
    padding-top: 10px;
}
.audio_content>.audio_content_header>button{
    background-color: #fff;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 60px;
}
.audio_content>.audio_content_header>.navLinkactive_link{
  color: grey;
  border-bottom: 3px solid black;
}
 
.AudioForm>form>.AudioForm_NB{
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 2px;
}
.audio_nav{
    margin-top: 1%;
    margin-bottom: 25px;
    height: 30px;
    text-align: center;
}
.audio_nav>button{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 5px;
    margin-right: 20px;
    font-weight: 500;
}
.audio_nav>.ressNavLink{
    border-bottom: 5px solid black;
}

/* drimsbibliotheque */
.drimsbibliotheque{
    width: 100%;
}
.drimsbibliotheque>.drimsbibliotheque_search{
    padding:10px 20px ;
}
.drimsbibliotheque>.drimsbibliotheque_search>form{
    justify-content: center;
    align-items: center;
}
.drimsbibliotheque>.drimsbibliotheque_search>form>input{
    padding: 5px;
    width: 50%;
    border: 1px solid black;
}
.drimsbibliotheque>.drimsbibliotheque_search>form>button{
    border: none;
    outline: none;
    color: white;
    padding: 6px;
    background-color: black;
}