.chidren_content>.objectif_block{
    width: 80%;
    border: 1px solid black;
    margin-bottom: 10px;
}
.chidren_content>.objectif_block>input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
}
.objectif_block_more{
    text-align: justify;
}
.objectif_block_more>button{
    border: none;
    outline: none;
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 50px;
}