
/****************************/
/*        contenus         */
/**************************/
.contenus{
    padding: 40px;
    z-index: 1000;
    border: 1px solid black;
    width: 100%;
    /* margin-left: 10%; */
}
.contenus>.contenu_link{
    display: flex;
    height: 90px;
    padding: 15px;
    padding-left: 290px;
    
}
.contenus>.contenu_link>.nav{
    border:none;
    background-color: #fff;
}
.contenus>.contenu_link>.nav>.visual{
    width: 120px;
    height: 85px;
    margin-right: 30px;
}
.contenus>.contenu_link>.nav>.visual>.visual_icon{
    height: 60%;
    border-bottom: 1px solid grey;
    width: inherit;
    padding:9px;
    background-color:cornflowerblue;
}
.contenus>.contenu_link>.nav>.visual>.visual_icon>i{
    font-size: 1.5rem;
}
.contenus>.contenu_link>.nav>.visual>.visual_name{
    color: white;
    font-weight: bold;
    background-color:darkolivegreen;
    padding: 5px;
}
.contenus>.contenu_link>.nav>.visual>.visual_named{
    color: white;
    font-weight: bold;
    background-color:darkolivegreen;
    padding: 6px 2px;
    /* height: 34px; */
}
 