.header_course_manager{
   width: 100%;
   position: fixed;
   top: 0;
   height: 50px;
   background-color: midnightblue;
   display: flex;
   /* justify-content: space-between; */
   color: white;
}
.header_left_course{
    width: 20%;
    /* background-color: yellow; */
    color: white;
    padding: 10px 2px;

}
.header_left_course>.navLink{
    color: white;
    text-decoration: none;
    padding-top: 2px;
}
 
.header_middle_course{
    width: 50%;
    padding: 10px 5px;
    text-align: justify;
}
.header_middle_course>span{
    font-weight: bold;
}
.header_right_course{
    width: 40%;
    padding: 10px 5px;
}
.header_right_course>.navlinkParam{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}