.content_form{
    width: 98%;
    height: 100vh;
    border: none;
    outline: none;
    text-align: justify;
    margin-top: 1%;
    padding:5px;
}
.contentSectionHomeCourse{
    width: 70%;
    height: auto;
    /* border-bottom: 0px; */
    box-shadow: 1px 4px 5px 8px  rgb(220, 220, 246);
}
.homeheaderCourse{
    background-color: mintcream;
}
.content_form>.form-group>.subtitle>label{
    width: 100%;
    text-align: justify;
}
.content_form>.form-group>.subtitle>input{
    border: none;
    outline: none;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
}
#btn_submit{
    padding: 50px 80px;
    position: fixed;
    top: 50px;
    right: 10px;
}
 
#btn_submit>.navlinkParam{
    color: #fff;
    font-weight: bold;
    background-color: midnightblue;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
#cardHeader>.A2>select{
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    padding: 2px;
    background-color: #fff;
    border: 1px solid black;
}
.content_form>form>textarea{
    border: none;
    outline: none;
    height: 180px;
    border: 1px solid black;
}
.content_form>form>.selectoption{
    margin-bottom: 08px;
}
.selectoption>select{
    width: 38%;
    margin-right: 2%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
    background-color: #fff;
}
.content_form>form>.imageCourse{
    height: 208px;
    display: flex;
    margin-bottom: 15px;
    border: 1px solid black;
}
.content_form>form>.imageCourse>.image{
    width: 50%;
    height: 100%;
    padding-top: 60px;
}
.content_form>form>.imageCourse>.image>img{
    width: 70%;
    height: 70%;
}
.content_form>form>.imageCourse>.selectimage{
    width: 55%;
    padding:30px  8px;
}
.content_form>form>.imageCourse>.selectimage>p{
    text-align: justify;    
}

.contentInstructors{
    margin-top: -29%;
    height: auto;
    padding: 12px;
}
.contentInstructors>label{
    width: 100%;
    text-align: justify;
    margin-bottom: 10px;
}
.contentInstructors>.textMessage{
    width: 98%;
    margin: auto;
    background-color: chocolate;
    padding: 8px;
    margin-bottom: 15px;
    color: white;
}
.listInstructors{
    height: auto;
}
.listInstructors>.instructor{
    margin-bottom: 15px;
}
.listInstructors>.instructor>.instructor_infos{
    width: 100%;
    height: "50px";
    display: flex;
    /* margin-bottom: 12px; */
}
.listInstructors>.instructor>.instructor_infos>img{
    width: 9%;
    height: 9%;
    border-radius: 500px;
}
.listInstructors>.instructor>.instructor_infos>.infos{
    padding:15px 8px;
    font-weight: 500;
    font-size: 1rem;
}
 
.listInstructors>.instructor>.instructor_infos>.infos::first-letter{
    text-transform: uppercase;
}
.listInstructors>.instructor>.complet_profil{
    background-color:mistyrose;
} 
.listInstructors>.instructor>.complet_profil>i{
     color: red;
     float: right;
     margin-right: 10px;
     margin-top: -40px;
}