.contentPrerequis{
    width: 100%;
    margin-top: 15px;
}
form>#field{
    width: 90%;
    padding-left: 1%;
}
form>#field>input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
    margin-bottom: 10px;
}
.addField{
    text-align: justify;
    padding-left: 1%;
}
.addField>button{
    border: none;
    outline: none;
    font-weight: bold;
    color: brown;
}