.content-form>form{
    width: 100%;
    height: auto;
}
.content-form>form>.subtitle>label{
width: 100%;
text-align: justify;
}
.content-form>form>.subtitle>input{
    padding: 10px;
    border: 1px solid black;
}
.content-form>form>.selectoption{
    width: 100%;
}
.content-form>form>.selectoption>select{
    width: 35%;
    margin-right: 15px;
    padding: 10px;
}
.content-form>form>.selectoption{
    margin-bottom: 10px;
}
.content-form>form>.imageCourse{
    height: 360px;
    display: flex;
    margin-bottom: 15px;
    border: 1px solid black;
}
.content-form>form>.imageCourse>.image{
    width: 50%;
    height: 100%;
    padding-top: 60px;
}
.content-form>form>.imageCourse>.image>img{
    width: 70%;
    height: 70%;
}
.content-form>form>.imageCourse>.selectimage{
    width: 50%;
    padding-left: 8px;
}
.content-form>form>.imageCourse>.selectimage>p{
    text-align: justify;    
}