.bigContent{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr;  
}
.bigContent>p{
    width: 80%;
    margin-left: 5%;
    text-align: justify;
}
.partieContent{
    margin: 3px;
    height: 40px;
    text-align: justify;
    /* background-color: blue; */
    /* padding: 3px 35px; */
}
.partieContent>.mainContent{
    /* background-color: blueviolet; */
    height: 100%;
    width: 80%;
}
.partieContent>.settingpartieContent{
    /* background-color: rgb(226, 43, 104); */
    height: 100%;
    width: 20%;
}
.partieContent>.settingpartieContent>button{
    height: 100%;
    border:none;
    outline: none;
    background-color: white;
    margin-right: 8%;
}
.contents{
    display: flex;
    margin-bottom: 5px;
    width: 95%;
}
.name{
    width: 90%;
    height: 42px;
    text-align: justify;
    border: 1px solid grey;
    border-right: none;
    cursor: pointer;
}
.nameUpdate{
    width: 100%;
    height: 42px;
}
.nameUpdate>form{
    border: none;
    border: 1px solid grey;
    width: 100%;
    height: 100%;
}
.nameUpdate>form>input{
    border: none;
    width: 100%;
    height: 100%;
}
.nameUpdate>form>input:focus{
    border: none;
}
.nameUpdate>form>button{
    height: 88%;
    margin-top: 3px;
    margin-right: 1%;
    border: none;
    background-color: lightsalmon;
}
.name>span{
    height: 100%;
    width: auto;
    padding: 5px 5px;
    font-weight: 500;
    font-size: 1rem;
}
.name>span>i{
    margin-right: 7px;
}
.pluscontenus{
    width: 11%;
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    padding-top: 6px;
    cursor: pointer;
}
.angleClick{
    width: 4%;
    border: 1px solid grey;
    border-left: none;
    padding: 5px 10px;
    cursor: pointer;
}
.contentSession{
    border: 1px solid grey;
    width: 100%;
    height: 290px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.showNew{
    /* background-color: blue; */
    margin-top: -40px;
    width: 85%;
    height: 55px;
    border: 1px dashed black;
    padding: 15px;
    margin-left: 40px;
}
.showNew>button{
    margin-right: 20px;
}
.DropDown{
    height: 100%;
}
.DropDown>.contentDropDown{
    width: 100%;
    height: 82%;
}
.drop_nav{
    padding: 5px;
    border-bottom: 1px solid #000;
}
.drop_nav>button{
    border: none;
    outline: none;
    margin-right: 30px;
    font-weight: 500;
    background-color: #fff;
}
.drop_nav>button.activeLink{
    border-bottom: 4px solid #000;
}

/* description session */
.descriptionSession{
    width: 100%;
    height: 100%;
}
.descriptionSession>textarea{
    width: 95%;
    height: 80%;
    border: none;
}
/* ressource */
.ressourcesFormPartie{
    width: 100%;
    padding: 5px;
}
/* add content when we click button +contenus */
.Addcontent{
    margin-bottom: 10px;
}
.objectif_block_more>button{
     border: none;
     outline: none;
     color: blueviolet;
     font-weight: 600;
     margin-bottom: 50px;
}
.showNew{
    text-align: justify;
}
.showNew>button{
    border: none;
    outline: none;
    color: blueviolet;
    font-weight: 600;
}