.session_content{
     /* background-color: black; */
     height: 100vh;
     display: flex;
     overflow-y: scroll;
 }
 .session_content>.session_nav{
     /* background-color: black; */
     width: 75%;
 }
 .session_content>.session_nav>.session_nav_header{
     width: 100%;
     height: 90px;
     margin-bottom: 15px;
     
 }
 .session_content>.session_nav>.session_nav_header>.session_nav_header_title,
 .session_content>.session_nav>.session_nav_header>.session_nav_header_fileariane{
    width: 100%;
    height: 50%;
    padding-top: 2%;
 }
 .session_content>.session_nav>.session_nav_header>.session_nav_header_title{
     display: flex;
     justify-content:flex-start;
     align-items: center;
     text-align: left;
     padding-left: 20px;
     font-weight: 900;
     font-size: 1.8rem;
 }
 .session_content>.session_nav>.session_nav_header>.session_nav_header_fileariane{
     display:inline-flex;
     justify-content: center;
     text-align: center;
     font-size:1.2rem;
 }
 .session_content>.session_nav>.session_navigation{
     width: 100%;
     height: 60px;
     border-bottom: 1px solid grey;
     margin-bottom: 15px;
 }
 .session_content>.session_nav>.session_navigation>button{
     border: none;
     outline: none;
     font-weight: bolder;
     font-size: 1.2rem;
     padding: 15px;
     /* padding-top: 10px; */
     background-color: #fff;
     margin-right: 25px;
 }
 .session_content>.session_nav>.session_navigation>.navlinkactive_link{
     border-bottom: 4px solid #000;
     color: grey;
 }
 .session_content>.session_show{
     background-color: blue;
     width: 25%;
 }
 
 /*****************************/
 /*    description component */
 /***************************/
 .description{
     border: 1px solid black;
     width: 75%;
     height: auto;
     margin-left: 12%;
     margin-bottom: 20px;
 }