.content_setting{
    width: 100%;
    padding-left: 100px;
}
.content_setting>.card{
    width: 90%;
    margin-top: 20px;
}
.content_setting>.card>.card-header{
    padding: 20px;
    background-color: #fff;
    text-align: justify;
    font-weight: 600;
    font-size: 1.4rem;
}
.content_setting>.card>.card-body>.controle_publication{
    width: 100%;
    border-bottom: 1px solid grey;
}
.content_setting>.card>.card-body>.controle_publication>.body_title{
    width: 100%;
    font-size: 1.2rem;
    text-align: justify;
    padding-left: 30px;
}
.post_btn{
    text-align: justify;
    margin-right: 10px;
    margin-bottom: 20px;
}
.post_btn>button{
    border: 1px solid grey;
    outline: none;
    padding: 3px 70px;
    margin-bottom: 20px;
    margin-left: -5px;
    height: 40px;
}
.post_btn>span{
    width: 70%;
}
.post_btn_supp>button{
    border: 1px solid grey;
    outline: none;
    padding: 5px 60px;
    margin-bottom: 20px;
    margin-left: -10px;
}
.confidentialitie{
    width: 40%;
    padding-top: 20px;
    text-align: justify;
    
}
.btn_save{
    background-color: sienna;
    border: 1px solid black;
    outline: none;
    padding: 10px 60px;
    color: white;
    font-weight: bold;
    margin-left: 60px;
}