.management_org{
    width: 100%;
    height: 93vh;
    margin-top: 52px;
    display: flex;
    overflow-y: scroll;
}
.management_org>.sidebar_management{
    width: 20%;
    text-align: justify;
    padding-left: 60px;
    padding-top: 20px;
    border-right: 1px solid grey;
}
.management_org>.management_content{
    width: 80%;
    padding-left: 30px;
}
.management_org>.management_content>.card{
   width: 80%;
   height: auto;
   margin-top: 20px;
}
.management_org>.management_content>.card>.card-header{
    padding: 15px;
    text-align: justify;
    font-weight: 600;
    font-size: 1.3rem;
}
.management_org>.management_content>.card>.card-body>.alert{
    text-align: justify;
    width: 100%;
    padding-bottom: 20px;
}
.management_org>.management_content>.card>.card-body>.objectif_block{
    width: 80%;
    border: 1px solid black;
    margin-bottom: 10px;
}
.management_org>.management_content>.card>.card-body>.objectif_block>input{
    width: 100%;
    padding: 10px;
}
.management_org>.management_content>.card>.card-body>.objectif_block_more{
    text-align: justify;
}
.management_org>.management_content>.card>.card-body>.objectif_block_more>button{
    border: none;
    outline: none;
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 50px;
}
.management_nav{
    border-left: 5px solid red;
}
.management_navlink{
    width: 100%;
    margin-bottom: 10px;
}
.management_navlink>.nav{
  color: black;
  text-decoration: none;
  padding-left: 10px;
}
h6{
    font-weight: 800;
}

/* save */
.save_btn{
    position: fixed;
    top: 120px;
    right: 0;
    margin-right: 60px;
    background-color: #fff;
}
.save_btn>.card-body>button{
    background-color: blueviolet;
    padding: 10px 20px;
    color: white;

}
.calculator{
    border: none;
    outline: none;
    background-color: #fff;
}

.showobjectifs{
    width: 80%;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: justify;
    padding: 11px;
    margin-right: 4px;
}
 
.administrator{
    width: 10%;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: justify;
    padding: 5px;
     /* display: none; */
}
.administrator>button{
    border: none;
    outline: none;
    background-color: #fff;
    margin-right: 10px;
}