.title_content{
    width: 100%;
    height: 100vh;
    /* padding-top: 190px; */
    background-color: white;
}
.title_content>#topp{
    /* background-color: rgba(229, 231, 233 , 1); */
    border-bottom: 1px solid black;  
    height: 50px;
}
.content_type_body{
    width: 100%;
    height: 250px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.content_type_body>.cours,.content_type_body>.exos,.content_type_body>.chalenge{
    width: 250px;
    /* background-color: burlywood; */
    margin-right: 20px;
    height: 100%;
    border: 1px solid grey;
}
._logo{
    width: 100%;
    text-align: center;
padding: 8px;
font-weight: 800;
font-size: 1.5rem;
}
._title{
    width: 100%;
    padding: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}
._description{
    width: 100%;
    text-align: justify;
    font-size: 1.1rem;
    padding: 4px;
}
.select{
    width: 100%;
   padding-left: 25%;
}
.select>select{
    width: 65%;
}
.select>h6{
    text-align: justify;
    font-weight: 500;
    font-size: 1.3rem;
    width: 100%;
}
 