.type_content{
    width: 100%;
    height: 100vh;
    /* padding-top: 190px; */
    background-color: white;
}
.type_content>#topp{
    /* background-color: rgba(229, 231, 233 , 1); */
    border-bottom: 1px solid black;  
    height: 50px;
}
.right_categ{
    width: 60%;
    text-align: justify;
    margin-left: 20%; 
}
 .fck{
     width: 90%;
     padding-left: 20px;
     /* padding: 10px; */
     /* padding-left: 32px; */
     padding: 10px 32px;
     margin: 5px;
     border: 1px solid black;
 }
 